In [3]:
from pymongo import MongoClient

In [2]:
def func_1():
    return "test"

b = func_1()
b

'test'

In [1]:
def func_2(a, b):
    return a+b

c = func_2(3, 2)
c

5

In [4]:
sql = """

    """
_db.execute(sql)
result = _db.fetchall()

NameError: name '_db' is not defined

In [5]:
x = "test"

if x:
    print("데이터가 존재")
else:
    print("데이터가 존재 X")

데이터가 존재

In [6]:
for i in range(0, 10, 3):
    print(i)

0
3
6
9

In [8]:
_list = [4,5,7,8,9]

for i in _list:
    print(i)

4
5
7
8
9

In [10]:
a = [1,2,3,4,5,6]

for i in a:
    for j in a:
        if (i+j)%5 == 0:
            print(i, j)

1 4
2 3
3 2
4 1
4 6
5 5
6 4

In [11]:
x=0

while x<10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [13]:
sum = 0
x=1

while x<11:
    sum += x
    x += 1

print(sum)

55

In [14]:
sum = 0
for i in range(1, 100, 1):
    sum += i
    if sum >= 700:
        print(i)
        break
    else:
        continue

37

In [15]:
for i in range(1, 10, 1):
    if i < 3:
        continue
    print(i)

3
4
5
6
7
8
9

In [16]:
import yfinance as yf
import pandas as pd

In [24]:
data = yf.download(['AAPL', 'TSLA', 'AMZN', 'CPNG'], start='2019-01-01')

[*********************100%***********************]  4 of 4 completed

In [25]:
data['Close']['CPNG']

Date
2018-12-31          NaN
2019-01-02          NaN
2019-01-03          NaN
2019-01-04          NaN
2019-01-07          NaN
                ...
2022-03-14    16.120001
2022-03-15    15.450000
2022-03-16    18.090000
2022-03-17    19.200001
2022-03-18    19.240000
Name: CPNG, Length: 811, dtype: float64

In [26]:
aapl = yf.Ticker('AAPL')

In [27]:
aapl.dividends

Date
1987-05-11    0.000536
1987-08-10    0.000536
1987-11-17    0.000714
1988-02-12    0.000714
1988-05-16    0.000714
                ...
2021-02-05    0.205000
2021-05-07    0.220000
2021-08-06    0.220000
2021-11-05    0.220000
2022-02-04    0.220000
Name: Dividends, Length: 74, dtype: float64

In [28]:
aapl.splits

Date
1987-06-16    2.0
2000-06-21    2.0
2005-02-28    2.0
2014-06-09    7.0
2020-08-31    4.0
Name: Stock Splits, dtype: float64

In [29]:
aapl.recommendations

                                    Firm      To Grade From Grade Action
Date
2012-02-09 08:17:00    Canaccord Genuity           Buy              main
2012-03-08 07:33:00       FBN Securities    Outperform              main
2012-03-13 06:08:00            Jefferies           Buy              main
2012-03-14 06:13:00       Morgan Stanley    Overweight              main
2012-03-14 08:21:00    Canaccord Genuity           Buy              main
...                                  ...           ...        ...    ...
2022-01-28 14:19:01  New Street Research       Neutral       Sell     up
2022-01-28 15:10:56          Oppenheimer    Outperform              main
2022-01-31 15:44:19        Credit Suisse       Neutral              main
2022-02-15 15:31:58    Tigress Financial    Strong Buy              main
2022-03-11 11:57:08             Barclays  Equal-Weight              main

[831 rows x 4 columns]

In [30]:
aapl.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 100000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408 996 1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'ebitdaMargins': 0.33890998,
 'profitMargins': 0.26579002,
 'grossMargins': 0.43019,
 'operatingCashflow': 112241000448,
 'revenueGrowth': 0.112,
 'operatingMargins': 0.309,
 'ebitda': 128217997312,
 'targetLowPrice': 160,
 'recommendationKey': 'buy',
 'grossProfits': 152836000000,
 'freeCashflow': 80153247744,
 'targetMedianPrice': 199.5,
 'currentPrice': 163.98,
 'earningsGrowth': 0.25,
 'currentRatio': 1.038,
 'returnOnAssets': 0.19875,
 'numberOfAnalystOpinions': 44,
 'targetMeanPrice': 193.53,
 'debtToEquity': 170.714,
 'returnOnEquity': 1.45567,
 'targetHighPrice': 215,
 'totalCash': 63913000960,
 'totalDebt': 122797998080,
 'totalRevenue': 378323009536,
 'totalCashPerShare': 3.916,
 'financialCurrency': 'USD',
 'revenuePerShare': 22.838,
 'quickRatio': 0.875,
 'recommendationMean': 1.8,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.229,
 'beta3Year': None,
 'enterpriseToEbitda': 21.33,
 '52WeekChange': 0.32895696,
 'morningStarRiskRating': None,
 'forwardEps': 6.56,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16319399936,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 4.402,
 'sharesShort': 110322490,
 'sharesPercentSharesOut': 0.0068,
 'fundFamily': None,
 'lastFiscalYearEnd': 1632528000,
 'heldPercentInstitutions': 0.59438,
 'netIncomeToCommon': 100554997760,
 'trailingEps': 6.015,
 'lastDividendValue': 0.22,
 'SandP52WeekChange': 0.13260198,
 'priceToBook': 37.251247,
 'heldPercentInsiders': 0.0007,
 'nextFiscalYearEnd': 1695600000,
 'yield': None,
 'mostRecentQuarter': 1640390400,
 'shortRatio': 1.2,
 'sharesShortPreviousMonthDate': 1643587200,
 'floatShares': 16302795170,
 'beta': 1.185531,
 'enterpriseValue': 2734947041280,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1643932800,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.204,
 'priceToSalesTrailing12Months': 7.0734663,
 'dateShortInterest': 1646006400,
 'pegRatio': 1.76,
 'ytdReturn': None,
 'forwardPE': 24.99695,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0068,
 'sharesShortPriorMonth': 91388112,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 160.62,
 'regularMarketOpen': 160.51,
 'twoHundredDayAverage': 154.44424,
 'trailingAnnualDividendYield': 0.005385382,
 'payoutRatio': 0.1434,
 'volume24Hr': None,
 'regularMarketDayHigh': 164.48,
 'navPrice': None,
 'averageDailyVolume10Day': 102416350,
 'regularMarketPreviousClose': 160.62,
 'fiftyDayAverage': 166.5874,
 'trailingAnnualDividendRate': 0.865,
 'open': 160.51,
 'toCurrency': None,
 'averageVolume10days': 102416350,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.88,
 'exDividendDate': 1643932800,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 159.76,
 'currency': 'USD',
 'trailingPE': 27.261845,
 'regularMarketVolume': 123511692,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2676055080960,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 93071551,
 'dayLow': 159.76,
 'ask': 164.34,
 'askSize': 1400,
 'volume': 123511692,
 'fiftyTwoWeekHigh': 182.94,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.13,
 'fiftyTwoWeekLow': 118.86,
 'bid': 164.28,
 'tradeable': False,
 'dividendYield': 0.0054,
 'bidSize': 900,
 'dayHigh': 164.48,
 'regularMarketPrice': 163.98,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/apple.com',
 'trailingPegRatio': 3.0052}

In [32]:
aapl.history(period = 'max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12,0.100323,0.100759,0.100323,0.100323,469033600,0.0,0.0
1980-12-15,0.095525,0.095525,0.095089,0.095089,175884800,0.0,0.0
1980-12-16,0.088546,0.088546,0.088110,0.088110,105728000,0.0,0.0
1980-12-17,0.090291,0.090727,0.090291,0.090291,86441600,0.0,0.0
1980-12-18,0.092908,0.093345,0.092908,0.092908,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2022-03-14,151.449997,154.119995,150.100006,150.619995,108732100,0.0,0.0
2022-03-15,150.899994,155.570007,150.380005,155.089996,92964300,0.0,0.0
2022-03-16,157.050003,160.000000,154.460007,159.589996,102300200,0.0,0.0
2022-03-17,158.610001,161.000000,157.630005,160.619995,75615400,0.0,0.0
2022-03-18,160.509995,164.479996,159.759995,163.979996,123351200,0.0,0.0

In [33]:
cpng = yf.Ticker('CPNG')

In [34]:
cpng.info

{'zip': '05510',
 'sector': 'Consumer Cyclical',
 'fullTimeEmployees': 68000,
 'longBusinessSummary': 'Coupang, Inc. owns and operates in e-commerce business through its mobile applications and Internet websites primarily in South Korea. It operates through two segments, Product Commerce and Growth Initiatives. The company sells various products and services in the categories of home goods and dÃ©cor products, apparel, beauty products, fresh food and groceries, sporting goods, electronics, and everyday consumables, as well as travel, and restaurant order and delivery services. It also performs operations and support services in China, Singapore, Japan, Taiwan, and the United States. Coupang, Inc. was incorporated in 2010 and is headquartered in Seoul, South Korea.',
 'city': 'Seoul',
 'phone': '82 2 6150 5422',
 'country': 'South Korea',
 'companyOfficers': [],
 'website': 'https://www.coupang.com',
 'maxAge': 1,
 'address1': 'Tower 730,570',
 'industry': 'Internet Retail',
 'address2': 'Songpa-Daero Songpa-gu',
 'ebitdaMargins': -0.05414,
 'profitMargins': -0.083809994,
 'grossMargins': 0.16892,
 'operatingCashflow': -410577984,
 'revenueGrowth': 0.335,
 'operatingMargins': -0.06508,
 'ebitda': -996481984,
 'targetLowPrice': 25,
 'recommendationKey': 'buy',
 'grossProfits': 3109128000,
 'freeCashflow': -771699968,
 'targetMedianPrice': 28,
 'currentPrice': 19.24,
 'earningsGrowth': None,
 'currentRatio': 1.188,
 'returnOnAssets': -0.109230004,
 'numberOfAnalystOpinions': 10,
 'targetMeanPrice': 29.9,
 'debtToEquity': 97.477,
 'returnOnEquity': -1.9617,
 'targetHighPrice': 52,
 'totalCash': 3487707904,
 'totalDebt': 2121060992,
 'totalRevenue': 18406371328,
 'totalCashPerShare': 1.987,
 'financialCurrency': 'USD',
 'revenuePerShare': 12.927,
 'quickRatio': 0.772,
 'recommendationMean': 2.3,
 'exchange': 'NYQ',
 'shortName': 'Coupang, Inc.',
 'longName': 'Coupang, Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'CPNG',
 'messageBoardId': 'finmb_704377650',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 1.761,
 'beta3Year': None,
 'enterpriseToEbitda': -32.527,
 '52WeekChange': -0.5711101,
 'morningStarRiskRating': None,
 'forwardEps': -0.23,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 1580860032,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 1.24,
 'sharesShort': 50366860,
 'sharesPercentSharesOut': 0.0287,
 'fundFamily': None,
 'lastFiscalYearEnd': 1640908800,
 'heldPercentInstitutions': 0.75657,
 'netIncomeToCommon': -1542589952,
 'trailingEps': -1.083,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.13260198,
 'priceToBook': 15.516129,
 'heldPercentInsiders': 0.024319999,
 'nextFiscalYearEnd': 1703980800,
 'yield': None,
 'mostRecentQuarter': 1640908800,
 'shortRatio': 4.99,
 'sharesShortPreviousMonthDate': 1643587200,
 'floatShares': 904410466,
 'beta': None,
 'enterpriseValue': 32412243968,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'priceToSalesTrailing12Months': 1.8351743,
 'dateShortInterest': 1646006400,
 'pegRatio': -0.39,
 'ytdReturn': None,
 'forwardPE': -83.65217,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.083100006,
 'sharesShortPriorMonth': 36101645,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 19.2,
 'regularMarketOpen': 18.63,
 'twoHundredDayAverage': 29.5666,
 'trailingAnnualDividendYield': 0,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 19.92,
 'navPrice': None,
 'averageDailyVolume10Day': 21027500,
 'regularMarketPreviousClose': 19.2,
 'fiftyDayAverage': 21.5222,
 'trailingAnnualDividendRate': 0,
 'open': 18.63,
 'toCurrency': None,
 'averageVolume10days': 21027500,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 18.49,
 'currency': 'USD',
 'regularMarketVolume': 16114685,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 33778898944,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 11967191,
 'dayLow': 18.49,
 'ask': 0,
 'askSize': 1800,
 'volume': 16114685,
 'fiftyTwoWeekHigh': 50.5,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 15.275,
 'bid': 0,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 1000,
 'dayHigh': 19.92,
 'regularMarketPrice': 19.24,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/coupang.com'}

In [36]:
cpng.history(period='max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-03-11,63.500000,69.000000,49.250000,49.250000,91584100,0,0
2021-03-12,52.540001,52.759998,46.250000,48.470001,30521000,0,0
2021-03-15,50.130001,51.849998,49.020000,50.450001,17387800,0,0
2021-03-16,50.590000,50.770000,46.700001,47.130001,14552400,0,0
2021-03-17,46.000000,46.900002,43.189999,43.290001,15251100,0,0
...,...,...,...,...,...,...,...
2022-03-14,17.040001,17.488001,15.920000,16.120001,17621600,0,0
2022-03-15,16.070000,16.959999,15.275000,15.450000,30197600,0,0
2022-03-16,16.000000,18.120001,15.820000,18.090000,40631500,0,0
2022-03-17,17.680000,19.245001,17.400000,19.200001,19894800,0,0
2022-03-18,18.629999,19.920000,18.490000,19.240000,16530900,0,0

In [37]:
cpng.history(start='2019-01-01')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-03-11,63.500000,69.000000,49.250000,49.250000,91584100,0,0
2021-03-12,52.540001,52.759998,46.250000,48.470001,30521000,0,0
2021-03-15,50.130001,51.849998,49.020000,50.450001,17387800,0,0
2021-03-16,50.590000,50.770000,46.700001,47.130001,14552400,0,0
2021-03-17,46.000000,46.900002,43.189999,43.290001,15251100,0,0
...,...,...,...,...,...,...,...
2022-03-14,17.040001,17.488001,15.920000,16.120001,17621600,0,0
2022-03-15,16.070000,16.959999,15.275000,15.450000,30197600,0,0
2022-03-16,16.000000,18.120001,15.820000,18.090000,40631500,0,0
2022-03-17,17.680000,19.245001,17.400000,19.200001,19894800,0,0
2022-03-18,18.629999,19.920000,18.490000,19.240000,16530900,0,0

In [38]:
import pyupbit as upbit

In [40]:
upbit.get_tickers('KRW')

['KRW-BTC',
 'KRW-ETH',
 'KRW-NEO',
 'KRW-MTL',
 'KRW-LTC',
 'KRW-XRP',
 'KRW-ETC',
 'KRW-OMG',
 'KRW-SNT',
 'KRW-WAVES',
 'KRW-XEM',
 'KRW-QTUM',
 'KRW-LSK',
 'KRW-STEEM',
 'KRW-XLM',
 'KRW-ARDR',
 'KRW-ARK',
 'KRW-STORJ',
 'KRW-GRS',
 'KRW-REP',
 'KRW-ADA',
 'KRW-SBD',
 'KRW-POWR',
 'KRW-BTG',
 'KRW-ICX',
 'KRW-EOS',
 'KRW-TRX',
 'KRW-SC',
 'KRW-ONT',
 'KRW-ZIL',
 'KRW-POLY',
 'KRW-ZRX',
 'KRW-LOOM',
 'KRW-BCH',
 'KRW-BAT',
 'KRW-IOST',
 'KRW-RFR',
 'KRW-CVC',
 'KRW-IQ',
 'KRW-IOTA',
 'KRW-MFT',
 'KRW-ONG',
 'KRW-GAS',
 'KRW-UPP',
 'KRW-ELF',
 'KRW-KNC',
 'KRW-BSV',
 'KRW-THETA',
 'KRW-QKC',
 'KRW-BTT',
 'KRW-MOC',
 'KRW-ENJ',
 'KRW-TFUEL',
 'KRW-MANA',
 'KRW-ANKR',
 'KRW-AERGO',
 'KRW-ATOM',
 'KRW-TT',
 'KRW-CRE',
 'KRW-MBL',
 'KRW-WAXP',
 'KRW-HBAR',
 'KRW-MED',
 'KRW-MLK',
 'KRW-STPT',
 'KRW-ORBS',
 'KRW-VET',
 'KRW-CHZ',
 'KRW-STMX',
 'KRW-DKA',
 'KRW-HIVE',
 'KRW-KAVA',
 'KRW-AHT',
 'KRW-LINK',
 'KRW-XTZ',
 'KRW-BORA',
 'KRW-JST',
 'KRW-CRO',
 'KRW-TON',
 'KRW-SXP',
 'KRW-HUNT',
 'KRW-PLA',
 'KRW-DOT',
 'KRW-SRM',
 'KRW-MVL',
 'KRW-STRAX',
 'KRW-AQT',
 'KRW-GLM',
 'KRW-SSX',
 'KRW-META',
 'KRW-FCT2',
 'KRW-CBK',
 'KRW-SAND',
 'KRW-HUM',
 'KRW-DOGE',
 'KRW-STRK',
 'KRW-PUNDIX',
 'KRW-FLOW',
 'KRW-DAWN',
 'KRW-AXS',
 'KRW-STX',
 'KRW-XEC',
 'KRW-SOL',
 'KRW-MATIC',
 'KRW-NU',
 'KRW-AAVE',
 'KRW-1INCH',
 'KRW-ALGO',
 'KRW-NEAR',
 'KRW-WEMIX',
 'KRW-AVAX',
 'KRW-T',
 'KRW-CELO']

In [39]:
upbit.get_current_price(['KRW-BTC', 'KRW-ETH'])

{'KRW-BTC': 50030000.0, 'KRW-ETH': 3480000.0}

In [43]:
ticker = 'KRW-BTC'
interval = 'week'
to = '2022-01-01 00:00'
count = 100
upbit.get_ohlcv(ticker=ticker, interval=interval, to=to)

,open,high,low,close,volume,value
2018-03-05 09:00:00,12592000.0,12899000.0,9306000.0,10520000.0,154558.546876,1.687409e+12
2018-03-12 09:00:00,10519000.0,10879000.0,8056000.0,9018000.0,132132.088236,1.240138e+12
2018-03-19 09:00:00,9018000.0,10165000.0,8870000.0,9477000.0,119433.441597,1.147434e+12
2018-03-26 09:00:00,9480000.0,9570000.0,7087000.0,7482000.0,107151.896124,8.779568e+11
2018-04-02 09:00:00,7486000.0,8175000.0,7125000.0,7622000.0,119252.641414,9.106156e+11
...,...,...,...,...,...,...
2021-11-29 09:00:00,72255000.0,73300000.0,56000000.0,61877000.0,87870.474688,5.864352e+12
2021-12-06 09:00:00,61877000.0,64120000.0,59016000.0,62049000.0,49095.408240,3.012188e+12
2021-12-13 09:00:00,61995000.0,62190000.0,57207000.0,58329000.0,53112.354514,3.154924e+12
2021-12-20 09:00:00,58329000.0,62850000.0,56917000.0,61467000.0,38893.224684,2.337847e+12
2021-12-27 09:00:00,61467000.0,62500000.0,56233000.0,57531000.0,37290.723592,2.184693e+12

1. 주식, 코인 데이터를 가지고 갯수 1000개 선택
2. 데이터를 csv로 변환
3. csv를 DB 삽입
4. mysql query 데이터를 받아오는데(Module, class로 구현)
5. 주식의 기준 -> 시가, 종가, 고가, 저가 소수점 2번째 자리까지 유지 반올림
6. 코인의 기준 -> 볼륨 소수점 2번째 자리까지 유지 반올림
7. 주식 기준 Nan 값 존재 -> 시작되는 지점의 시가로 변환
8. 컬럼을 하나 추가 등락폭(종가-시가의 값)을 삽입
9. 컬럼을 하나 추가 등락폭/시가 * 100 퍼센트를 삽입
10. 데이터의 시각화 -> 시가/종가/등락폭/볼륨 그래프 4개를 한 plot에 표시

In [76]:
import mod_sql
import yfinance as yf
import pandas as pd

In [44]:
apple = yf.Ticker('AAPL')

In [45]:
apple.history(count=1000)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-02-22,164.979996,166.690002,162.149994,164.320007,91162800,0,0
2022-02-23,165.539993,166.149994,159.750000,160.070007,90009200,0,0
2022-02-24,152.580002,162.850006,152.000000,162.740005,141147500,0,0
2022-02-25,163.839996,165.119995,160.869995,164.850006,91974200,0,0
2022-02-28,163.059998,165.419998,162.429993,165.119995,94869100,0,0
2022-03-01,164.699997,166.600006,161.970001,163.199997,83474400,0,0
2022-03-02,164.389999,167.360001,162.949997,166.559998,79724800,0,0
2022-03-03,168.470001,168.910004,165.550003,166.229996,76678400,0,0
2022-03-04,164.490005,165.550003,162.100006,163.169998,83737200,0,0
2022-03-07,163.360001,165.020004,159.039993,159.300003,96418800,0,0
2022-03-08,158.820007,162.880005,155.800003,157.440002,131148300,0,0
2022-03-09,161.479996,163.410004,159.410004,162.949997,91454900,0,0
2022-03-10,160.199997,160.389999,155.979996,158.520004,105342000,0,0
2022-03-11,158.929993,159.279999,154.500000,154.729996,96836300,0,0
2022-03-14,151.449997,154.119995,150.100006,150.619995,108732100,0,0
2022-03-15,150.899994,155.570007,150.380005,155.089996,92964300,0,0
2022-03-16,157.050003,160.000000,154.460007,159.589996,102300200,0,0
2022-03-17,158.610001,161.000000,157.630005,160.619995,75615400,0,0
2022-03-18,160.509995,164.479996,159.759995,163.979996,123351200,0,0

In [48]:
result = apple.history(period='max')

In [49]:
result.to_csv("apple.csv")

In [77]:
_sql = """
        CREATE TABLE apple_test(
            No int, 
            name varchar(32)
        )
    """

_db = mod_sql.Database()

OperationalError: (1045, "Access denied for user 'root'@'localhost' (using password: YES)")

In [70]:
_sql = """
        CREATE TABLE apple_test2(
            Date varchar(32) primary 
            name varchar(32)
        )
    """

_db = mod_sql.Database()

OperationalError: (1045, "Access denied for user 'root'@'localhost' (using password: YES)")

In [59]:
_db.executeAll(sql)

NameError: name '_db' is not defined

In [69]:
_sql2 = """
        INSERT INTO apple_test2 values (
            %s, %s, %s, %s,%s
        )
    """
for i in range(100):
    _db.execute(_sql2, 
    [result.index[i], 
    result.Open[i]],
    result.High[i],
    result.Low[i],
    result.Close[i])

_db.commit()

NameError: name '_db' is not defined

In [ ]:
_sql = """

    """

_df =

In [ ]:
_df = _df.round(2)
_df

In [ ]:
_df.fillna('bfill')

In [ ]:
_df['등락율'] = _df['등락폭'] / _df['Open'] * 100
_df

In [78]:
import matplotlib.pyplot as plt

In [ ]:
plt.subplot(2,2,1)
plt.plot(_df['Open'])
plt.subplot(2,2,2)
plt.plot(_df['Close'])
plt.subplot(2,2,3)
plt.plot(_df['등락폭'])
plt.subplot(2,2,4)
plt.plot(_df['등락율'])
plt.show()